<!DOCTYPE html>
<html lang="ja">
  <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"
  >
    <!-- <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"
  > -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="トークトークは人見知りやコミュ障の方向けにランダムで話題を表示するサービスです。なかなか話題が浮かばない、話が盛り上がるにはどうしたらと思うときに使ってください"
    />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://talk-generator.herokuapp.com" />
    <meta property="og:site_name" content="talk-generator.herokuapp.com" />
    <meta property="og:title" content="トークトーク" />
    <meta
      property="og:description"
      content="トークトークは人見知りやコミュ障の方向けにランダムで話題を表示するサービスです。"
    />
    <meta property="og:image" content="./img/rabbit_stand.jpg" />
    <meta name="keywords" content="HTML,CSS,Javascript,nodejs" />
    <meta name="author" content="タクタク" />
    <link rel="stylesheet" href="./../../scss/style.css" />
    <link rel="stylesheet" href="./../../scss/page/style.css" />
    <title>トークトーク</title>
  </head>
  <body>
    <header class="container">
      <div class="top-logo mt-20">
        <a href="/" class="top-logo--link"
          ><img src="./img/talktalk_logo.png" alt="トークトークロゴ画像"
        /></a>
      </div>
    </header>
    <main class="container">
      <section>
        <div class="white__box white__box__center">
          <h1 class="mt-30">トークテーマ</h1>
          <% talk.forEach((date)=>{ %>
          <p class="mt-20"><%= date.t_talk_contents %></p>
          <% }); %>
          <form action="/" method="POST">
            <% talk.forEach((date)=>{ %>
            <button
              class="good-btn mt-20"
              id="good-btn"
              name="t_talk_id"
              value="<%= date.t_talk_id %>"
              type="submit"
            >
              <img
                src="./img/goodmark.png"
                alt="いいねマーク"
                class="good-btn--float"
              /><span class="good-btn--float">いいね</span> <%= date.t_talk_good
              %> <% }); %>
            </button>
          </form>

          <a href="/" class="large_btn red_btn my-40"
            ><span>話題チェンジ</span></a
          >
        </div>
      </section>
      <section>
        <div class="top-contentsbox mt-100">
          <h2>話題を投稿する</h2>
          <p class="mt-10">
            トーク★トークは皆んなで作るサービスです。自分が話て盛り上がった話題・
            誰かに話して欲しい話題を気軽に投稿してください！
          </p>
          <a href="/regist" class="small_btn purple_btn mt-30"
            >話題を投稿する</a
          >
        </div>
      </section>
      <section>
        <div class="top-contentsbox mt-100">
          <h2>投稿した話題を管理する</h2>
          <p class="mt-10">
            下記の問い合わせよりユーザー名と必要事項を記入の上、ご連絡をお願いいたします
            該当の連絡先へ話題の一覧をお送りいたします。
            その後修正や削除の連絡をお願いいたします。
          </p>
          <a href="/contact" class="small_btn lightblue_btn mt-30"
            >お問い合わせ</a
          >
        </div>
      </section>
      <section>
        <div class="top-contentsbox mt-100">
          <h2>キャラクター紹介</h2>
          <p class="mt-10">
            このサイトで使っているキャラクターは画家の「ふくちゃん」に
            書いてもらっています。以下のバナーをクリックして他の絵も見てみてください。
            絵の依頼も受け付けているそうです。
          </p>
          <div class="my-30">
            <a href="https://coconala.com/users/1311859">
              <img
                src="./img/fukuda_banner.png"
                alt="ふくちゃんの絵画教室のバナー"
              />
            </a>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <h2>運営団体：コミおば</h2>
        <ul>
          <li>
            <a
              href="https://ameblo.jp/nakakunll/entry-12659292370.html?frm=theme"
              >コミおばについて（ブログ）</a
            >
          </li>
          <li><a href="/contact">お問い合わせ</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
