<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>登録完了</h1>
    <h2>登録いただき誠にありがとございました</h2>
    <a href="/"><button>戻る</button></a>
  </body>
</html>
