<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>登録フォーム</h1>
    <p>気軽な話題を登録してください</p>
    <form action="/regist/complete" method="POST">
      <p>内容</p>
      <input type="text" name="t_talk_contents" />
      <p>ユーザーID</p>
      <input type="text" name="t_talk_userid" />
      <button type="submit">登録</button>
    </form>
  </body>
</html>
